<% function formatDate(dateString) {
  const options = { day: 'numeric', month: 'short', year: 'numeric' };
  const formattedDate = new Date(dateString).toLocaleDateString('en-US', options);
  return formattedDate;
}

function formatTimeWithoutStandardTime(timeString) {
  const options = { hour: 'numeric', minute: 'numeric', hour12: false };
  const formattedTime = new Date(timeString).toLocaleTimeString('en-US', options);
  return formattedTime;
}
%>

<%-include('header')-%>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-REPLACE_WITH_YOUR_INTEGRITY_CHECK" crossorigin="anonymous" />
    <section style="background-color: #000000;">
        <div class="container py-5">

          <div class="row">
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="card-body text-center">
                  <img src="https://cdn1.iconfinder.com/data/icons/public-company-solid/32/employee_employe_workman_user_profiles_avatar_people_human_persons_icon_1-512.png" alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px;">
                  <h5 class="my-3"><%= user.name %></h5> 
                </div>
              </div>
              <div class="card mb-4 mb-lg-0">
                <div class="card-body p-0">
                  <ul class="list-group list-group-flush rounded-3">
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <p class="mb-0"><a href="/userprofile">MY PROFILE</a></p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <p class="mb-0"> <a href="/editUser">EDIT PROFILE</a> </p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <p class="mb-0"> <a href="/userAddAddress">ADDRESS</a> </p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <p class="mb-0"> <a href="/orderDetails">ORDER STATUS</a> </p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <p class="mb-0"> <a href="/changePassword">CHANGE PASSWORD</a> </p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <p class="mb-0"> <a href="/wallet">WALLET</a> </p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <p class="mb-0"> <a href="/referralCode">REFER AND EARN</a> </p>
                    </li> 
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-xl-4">
                        <!-- Profile picture card-->
                        <div class="card mb-4 mb-xl-0">
                            <div class="card-header">WALLET</div>
                            <div class="card-body text-center">
                              <div class="card text-bg-success mb-3" style="max-width: 20rem;">
                                <div class="card-body">
                                  <h5 class="card-title">Total Balance</h5>
                                  <h3 class="card-text">&#x20B9;<%=user.walletBalance %></h3>
                                </div>
                              </div>
                                <!-- Profile picture image-->
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-xl-8">
                      <div class="col-12">
                        <div class="card h-100 mb-4">
                          <div class="card-header pb-0 px-3">
                            <div class="row">
                              <div class="col-md-6">
                                <h6 class="mb-2">Your Transaction's</h6>
                              </div>
                            </div>
                          </div>
                        <div style="max-height: 450px; overflow-y: auto;">
                          <% user.refund.forEach((row,index) => { %>
                            <% if(row.status == 'paid') {%>
                              <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                                <div class="d-flex align-items-center">
                                  <button ><img src="/user/images/red-down-arrow-icon-56.png" width="20px" alt=""></button>
                                  <div class="d-flex flex-column">
                                    <h6 class="mb-1 text-dark text-sm"><%= row._id %></h6>
                                    <span class="text-xs"><%= row.date %></span>
                                    <span class="text-xs"><%= formatTimeWithoutStandardTime(row.time) %></span>

                                  </div>
                                </div>
                                <div class="d-flex align-items-center text-danger text-gradient text-sm font-weight-bold">
                                  - &#x20B9; <%= row.price %>
                                </div>
                              </li>
                              <hr>
                            <%} else {%>
                              <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                                <div class="d-flex align-items-center">
                                  <button ><img src="/user/images/clipart2416467.png" width="20px" alt=""></button>
                                  <div class="d-flex flex-column">
                                    <h6 class="mb-1 text-dark text-sm"><%= row.orderId %></h6>
                                    <span class="text-xs"><%= row.date %></span>
                                  </div>
                                </div>
                                <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">
                                  + &#x20B9; <%= row.price %>
                                </div>                
                              </li>
                              <hr>
                            <%}%>
                          <% })%>
                        </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </section>



<%-include('footer')-%>
